<h1>Subway Routes</h1>

<ul>
    <% @routes.each do |route| %>
        <li><%= route %></li>
    <% end %>
</ul>

<h2>Subway Route with the most stops</h2>
<%= @most.name %> - <%= @most.stops.size %> stops

<h2>Subway Route with the fewest stops</h2>
<%= @fewest.name %> - <%= @fewest.stops.size %> stops

<h2>Stops that connect two or more subway routes</h2>

<ul>
    <% Stop.with_connections.each do |stop| %>
        <li>
            <%= stop.name + ":" %>
            <ul>
                <% stop.routes[0..-2].each do |r| %>
                    <%= r.name + ", " %>
                <% end %>
                <%= stop.routes[-1].name %>
            </ul>
        </li>
    <% end %>
</ul>
